aiohttp==3.11.11
anthropic==0.50.0
beautifulsoup4==4.12.3
fastapi==0.111.1
fasttext==0.9.3
gunicorn==22.0.0
numpy==1.26.4
openai==1.59.3
python-dotenv==1.0.1
uvicorn==0.22.0
youtube-transcript-api==0.6.3
structlog==24.4.0
trafilatura==2.0.0
markdownify==1.1.0
pdfminer
pdfminer.six
pydantic-settings
aiofiles==23.2.1